<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notebook</title>

    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    <!--Layout Content-->
    {{ content | safe }}
    
    <!--New Task Button-->
    {% include 'partials/btn-create.njk' %}

    <!--Modal-->
    {% include 'partials/modal.njk' %}

    <!--JavaScript-->
    <script>
        {% include "src/js/main.js" %}
    </script>
    
    <script>
        {% include "src/js/modal.js" %}
    </script>

</body>
</html>