<dialog class="modal" id="modal">
    <a href="#" class="modal__close" id="modal__close">X</a>

    <div class="task__wrapper">
    <label for="task__description"></label>
    <textarea name="task__description" id="task__description" cols="30" rows="10"></textarea>

    <!-- New Task Button -->
    {% include 'partials/btn-save.njk' %}
    </div>

</dialog>